<nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(to right top, #0038ff, #2831ff, #3b27ff, #4b1aff, #5800ff); position: relative;">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="col-md-4 text-white navbar-brand mr-0" href="#">StockCompete</a>
        
        <!-- Page Links -->
        <div class="col-md-4 d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/platform" class="nav-link text-white">Platform</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link text-white">About</a>
                </li>
            </ul>
        </div>

        <!-- User Links and Info -->
        <div class="col-md-4  d-flex flex-row-reverse">
            <ul class="navbar-right d-flex mb-0 list-unstyled" id="navList">
            </ul>
        </div>
    </div>
</nav>