<div class="d-flex flex-column">
    <ul class="nav nav-pills nav-flush flex-column" style="background-image: linear-gradient(to right top, #5800ff, #4b1aff, #3b27ff, #2831ff,#0038ff);" id="sideNavList">
    </ul>
</div>
