<!DOCTYPE html>
    <%- include('partials/head'); -%>
    <body style="background-color: #FFF5EE;">
        <!-- Navbar -->
        <%- include('partials/nav'); -%>

        <div class="container">
            <br>
            <h2 class="mb-3 text-center">About Us</h2>
            <div class="row">
                <!-- Ben -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">Ben Strickland</div>
                        <div class="card-body">
                            <div class="row">
                                <img src="/images/ben.jpg" height="200" width="200">
                                <p class="ml-1">Course: Enterprise Computing<br>GitHub: https://github.com/strickb2</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Ben's LinkedIn</div>
                        <div class="card-body">
                            <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/benqr.png" height="180" width="180">
                        </div>
                    </div>
                </div>

                <!-- Aaron -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">Aaron Nolan</div>
                        <div class="card-body">
                            <div class="row">
                                <img src="/images/aaron.jpg" height="200" width="200">
                                <p class="ml-1">Course: Enterprise Computing<br>GitHub: https://github.com/AaronNolan</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Aaron's LinkedIn</div>
                        <div class="card-body">
                            <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/aaronqr.png" height="180" width="180">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script defer type="module">
            import { navBar } from "/javascripts/partials/nav.js"
            navBar();
        </script>
        <!-- Footer -->
        <%- include('partials/footer'); -%>
    </body>
</html>