<!DOCTYPE html>
    <%- include('partials/head'); -%>
    <body style="background-color: #FFF5EE;">
        <!-- Navbar -->
        <%- include('partials/nav'); -%>

        <div style="text-align: center; padding: 50px">
            <h1>About Us Page</h1>
            <p>Below you will find more information about us and our work.</p>
            <p>Scanning the QR codes will take you to our respective LinkedIn pages.</p>
        </div>
        
        <div class="container">
            <div class="row ml-4">
                <img class="rounded-circle" style="display: block; margin-left: auto; margin-right: auto; width:220px; height:200px;" src="/images/ben.jpg" alt="Ben">
                <div class="col text-center">
                    <br><br>
                    <h1>Ben Strickland</h1>
                    <p>Course: Enterprise Computing</p>
                    <p>Experience: ESW Software Development Intern</p>
                </div>
                <div class="col">
                    <img style="display: block; margin-left: auto; margin-right: auto; width:220px; height:200px;" src="/images/benqr.png" alt="Ben QR">
                </div>
            </div>

            <br>
            <div class="row ml-4">
                <img class="rounded-circle" style="display: block; margin-left: auto; margin-right: auto; width:220px; height:200px;" src="/images/aaron.jpg" alt="Aaron">
                <div class="col text-center">
                    <br><br>
                    <h2>Aaron Nolan</h2>
                    <p>Course: Enterprise Computing</p>
                    <p>Experience: SAP Software Development Intern</p>
                </div>
                <div class="col">
                    <img style="display: block; margin-left: auto; margin-right: auto; width:220px; height:200px;" src="/images/aaronqr.png" alt="Aaron QR">
                </div>
            </div>
        </div>

        <script type="module">
            function styling() {
                let aboutSection = document.getElementById("about-section");

                aboutSection.style = ""
            }
        </script>
        <script defer type="module">
            import { navBar } from "/javascripts/partials/nav.js"
            navBar();
        </script>
        <!-- Footer -->
        <%- include('partials/footer'); -%>
    </body>
</html>