<!DOCTYPE html>
    <%- include('partials/head'); -%>
    <body style="background-color: #FFF5EE;">
        <!-- Navbar -->
        <%- include('partials/nav'); -%>

        <!-- Container -->
        <div class="container">
    
            <!-- Title -->
            <section class="text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Transactions Table</h1>
                    </div>
                </div>
            </section>

            <!-- Transaction History Table -->
            <section>
                <div id="BalanceTable"></div>
            </section>
            <br>
        </div>

        <!-- Javascript -->
        <script defer type="module">
            import { navBar } from "/javascripts/partials/nav.js"
            // Fetch User Transactions
            async function getUserTransactions(){
                let access = localStorage.getItem("access");
                if(access) {
                    let response = await fetch("http://127.0.0.1:8000/transactions/all/", {
                        method: 'GET',
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json",
                            "Authorization": "Bearer " + access                                       
                        },
                    });
                    let data = await response.json();
                    return data;
                } else {
                    //the user is not logged in,redirect them to the login page
                    window.location.href = "/login";
                };
            };

            // Display Transaction Table
            async function displayTable() {
                const balanceTable = document.getElementById("BalanceTable");
                balanceTable.style = "overflow: auto; height: 1000px; display: block;";
                let oPromise = getUserTransactions();

                
                // Loop through stocks
                oPromise.then(oStocks => {
                    if (oStocks.length > 0) {
                        // Create Table Head
                        let elBalanceTable = document.createElement('table');
                        elBalanceTable.className = "table table-striped table-hover table-light";
                        elBalanceTable.innerHTML = "<thead class='table-dark' style='background-color: #6610f2!important; position: sticky; top: 0;'> \
                        <tr> \
                            <th scope='col'>ID</th> \
                            <th scope='col'>Date</th> \
                            <th scope='col'>Type</th> \
                            <th scope='col'>Name</th> \
                            <th scope='col'>Quantity</th> \
                            <th scope='col'>Total</th> \
                        </tr> \
                        </thead>"
                        balanceTable.appendChild(elBalanceTable);
        
                        // Create Table Body
                        let elBalanceTableBody = document.createElement('tbody');
                        
                        for (const i in oStocks) {
                            let oStock= oStocks[i];

                            // Stock Row
                            let containerBalance = document.createElement("tr");

                            // Transaction ID
                            let stockID = document.createElement("td");
                            stockID.innerHTML = oStock.id;
                            containerBalance.appendChild(stockID);

                            // Transaction Date
                            let stockDate = document.createElement("td");
                            let date = oStock.datetime.substring(0, 10);
                            stockDate.innerHTML = date;
                            containerBalance.appendChild(stockDate);

                            // Transaction Type
                            let stockType = document.createElement("td");
                            if (oStock.type == 1 || oStock.type == 3) {
                                if (oStock.type == 1) {
                                    stockType.innerHTML = "Buy";
                                } else {
                                    stockType.innerHTML = "Sell";
                                }                     
                            } else {
                                if (oStock.type == 2) {
                                    stockType.innerHTML = "Withdraw";
                                } else {
                                    stockType.innerHTML = "Add";
                                }
                            }
                            containerBalance.appendChild(stockType);

                            // Stock Name + Quantity
                            let stockName = document.createElement("td");
                            let stockQuantity = document.createElement("td");
                            let stock = oStock.stock;
                            if (stock != null) {
                                stockName.innerHTML = stock.stock_id.name;
                                stockQuantity.innerHTML = stock.quantity;
                            } else {
                                stockName.innerHTML = "-";
                                stockQuantity.innerHTML = "-";
                            };    
                            containerBalance.appendChild(stockName);
                            containerBalance.appendChild(stockQuantity);
                            
                            // Transaction Total
                            let stockTotal = document.createElement("td");
                            stockTotal.innerHTML = "€" + oStock.total;
                            containerBalance.appendChild(stockTotal);

                            elBalanceTableBody.appendChild(containerBalance);
                        }
                        // Add Table Body to table
                        elBalanceTable.appendChild(elBalanceTableBody);
                    } else {
                        balanceTable.className = "h6 text-center font-weight-bold text-primary text-uppercase";
                        balanceTable.innerHTML = "No Transactions Found!";
                    }
                })
            }

            async function init() {
                displayTable();
                navBar();
            }

            init();
        </script>
        <!-- Footer -->
        <%- include('partials/footer'); -%>
    </body>
</html>