<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body class="bg-info">
    <!-- Navbar -->
    <%- include('partials/nav'); -%>

    <div class="container">
      <br>
      <br>
        <!-- Stock Search Bar -->
        <section id="stockSearchBar">
          <form class="form-inline">
            <input class="form-control" style="width:80%" placeholder="Search Stocks" id="searchStocksInput">
            <button class="btn btn-success" style="width:20%" type="button" onclick="searchStocks()">Search</button>
          </form>
        </section> 

        <br>
      
        <!-- List of stocks retrieved from backend -->
        <section id="listStock"></section>

        <!-- News on stock market -->
        <section id="listNews"></section>
      </div>

      <!-- Footer (imported) -->
    </div>

    <!-- Javascript Section -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script defer type="module" src="javascripts/page/index.js"></script>
    <script defer type="module">
      import { displayContainerListStocks } from '/javascripts/containers/containerListStocks.js';
      
      // Retrieve stock list based on user input
      async function searchStocks() {
        let elSearchValue = document.getElementById("searchStocksInput").value;
        let req = "http://127.0.0.1:8000/stocks/general/?search=" + elSearchValue;
        fetch(req)
          .then(response => response.json())
          .then(data => displayContainerListStocks(data));
      }

      // ------------ eventHandlers() ------------       
      // Handle input when user presses enter instead of clicking button
      let elSearchInput = document.getElementById("searchStocksInput")
      elSearchInput.addEventListener("keydown", function(e){
        if (e.keyCode === 13) {
          e.stopImmediatePropagation()
          e.preventDefault()
          searchStocks();
        }
      })
      
      window.searchStocks = searchStocks;

    </script>
  </body>
</html>
