<!DOCTYPE html>
<html>
    <%- include('partials/head'); -%>
    <body>
        <!-- Navbar -->
        <%- include('partials/nav'); -%>
        <div class="container">
            <br>
            <br>
            <!-- Leaderboard-->
            <section id="leaderboard">
            </section>
        </div>
        
        <!-- Footer -->
        <%- include('partials/footer'); -%>

        <!-- Javascripts -->
        <script defer type="module" src="/javascripts/page/leaderboard.js"></script>
    </body>
</html>