<!DOCTYPE html>
<html>
    <%- include('partials/head'); -%>
    <body style="background-color: #FFF5EE;">
        <!-- Navbar -->
        <%- include('partials/nav'); -%>
        <div class="col-12 row">
            <%- include('partials/sidenav'); -%>
            <div class="container">
                <br>
                <br>
                <!-- Leaderboard-->
                <section id="leaderboard">
                </section>
            </div>
        </div>
        
        <!-- Footer -->
        <%- include('partials/footer'); -%>

        <!-- Javascripts -->
        <script defer type="module" src="/javascripts/page/leaderboard.js"></script>
    </body>
</html>