<!DOCTYPE html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
      <h1>Login</h1>
      <form id="login-form">
          <label for="username-input">Username</label>
          <input type="text" name="username-input" id="username" placeholder="Your username" required>
          <label for="password-input">Password</label>
          <input type="password" id="password" name="password-input" placeholder="Your password" required>
          <button type="submit">Login</button>
      </form>
      <script>
        let myform = document.getElementById("login-form"); // get the form
            // User submits login details
            myform.addEventListener('submit', function(e) {
                e.preventDefault();
                let uname = document.getElementById("username").value;
                let pass = document.getElementById("password").value;

                fetch("http://127.0.0.1:8000/api/token/", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({username: uname, password: pass})
                })
                .then(response=>response.json())
                    .then(data=>{
                        console.log(data);
                        if('access' in data){
                            let accessToken = data['access'];
                            let refreshToken = data['refresh'];
                            localStorage.setItem("access", accessToken);
                            localStorage.setItem("refresh", refreshToken);
                            window.location.href = "/";
                        }
                        else {
                            alert("Username or Password invalid.");
                        }
                    });
            });
        
      </script>
  </body>
</html>
