<!DOCTYPE html>
    <%- include('partials/head'); -%>
    <body>
        <!-- Navbar -->
        <%- include('partials/nav'); -%>
        <div id="background">
            <div id="top"></div>
            <div id="bottom"></div>
        </div>
        <div class="container">
            <br>
            <!-- Title -->
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="text-white font-weight-bold mb-4">Welcome to StockCompete</h1>
                    <p class="text-white mb-5">Begin your trading journey here!</p>
                    <a class="btn btn-primary btn-lg" role="button" href="/signup">Get Started</a>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-fluid" src="images/laptop.png" alt="Stock Page">
                </div>
            </div>
            <div class="col-lg-8 mt-3" id="container">
                <br>
                <!-- Feature List -->
                <div class="rounded shadow p-5 bg-white mt-5">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                                <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
                                <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
                            </svg>
                            <h3 class="mt-4">Gamification</h3>
                            <p class="text-muted">Learn how to trade successfully with our gamified UI and leaderboard system.</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                            </svg>
                            <h3 class="mt-4">Easy To Use</h3>
                            <p class="text-muted">Our simplified user interface makes trading as easy as possible.</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                            </svg>
                            <h3 class="mt-4">Low Cost</h3>
                            <p class="text-muted">Our low commission fees mean traders don't have to break the bank to invest.</p>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Leaderboard Mockup -->
                <div class="row">
                    <div class="col-lg-6 ml-auto">
                        <img class="img-fluid" src="images/leaderboard.png" alt="leaderboard">
                    </div>
                    <div class="col-lg-6 mr-auto align-self-center">
                        <h2>Leaderboard</h2>
                        <p>Our leaderboard system rewards top users for successful trades with cash prizes and subscriptions.</p>
                    </div>
                </div>
                <br>
                <!-- Dashboard Mockup -->
                <div class="row">
                    <div class="col-lg-6 ml-auto align-self-center">
                        <h2>User Dashboard</h2>
                        <p>Users can find all the information they need about their investments in a single click.</p>
                    </div>
                    <div class="col-lg-6 mr-auto">
                        <img class="img-fluid" src="images/dashboard.png" alt="dashboard">
                    </div>
                </div>
            </div>
        </div>
        
        <script defer type="module">
            import { navBar } from "/javascripts/partials/nav.js"
            navBar();
        </script>

        <script type="module">
            function background() {
                let background = document.getElementById("background");
                let top = document.getElementById("top");
                let bottom = document.getElementById("bottom");
                let container = document.getElementById("container");

                background.style = "position: absolute; width: 100%; margin: 0 auto;";
                top.style = "height: 100px; background-image: linear-gradient(to right top, #0038ff, #2831ff, #3b27ff, #4b1aff, #5800ff);";
                bottom.style = "width: 100%; height: 500px; background: linear-gradient(to right bottom, #0038ff, #2831ff, #3b27ff, #4b1aff, #5800ff 50%, transparent 50%);";
                container.style = "position: absolute; top: 50%;";
            }

            background();
        </script>
        <!-- Footer -->
        <%- include('partials/footer'); -%>
    </body>
</html>